form .avatar{
    margin-bottom: 15px;
    height: 55px;
    width: 55px;
}

.navbar .container-avatar{
    height: 35px;
    width: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img{
    height: 100%;
}

.pagination{
    justify-content: center;
}

.movies-list{
    text-align: center;
}

.movie-item:first-of-type{
    padding-top: 20px
}

.movies-list p {
    max-width: 50%; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

img.img-fluid {
    max-width: 100%;
}

.video-iframe{
     width: 100%; 
     height: 100%; 
}

.small-div {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

