body {
      background-color: #121212;
      color: #e0e0e0;
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
    }

.navbar {
    background-color: #8e0000; /* Granate mucho más oscuro */

    color: #ffffff;
}

.color-footer{
    background-color: #8e0000 !important;
    color: #ffffff !important;
}

.navbar-toggler {
    border-width: 3px;
    border-color: black;
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: #ffffff !important;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  transition: color 0.5s ease, font-size 0.3s ease;
}

h1.changed {
  color: #ff4081;
  font-size: 40px;
}

.card{
    color: black;
}

.modal{
    color: black !important;
}

.logo{
    height: 55px;
    width: 55px;
}

form .avatar{
    margin-bottom: 15px;
    height: 55px;
    width: 55px;
}

.navbar .container-avatar{
    height: 35px;
    width: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img{
    height: 100%;
}

.pagination{
    justify-content: center;
}

.movies-list{
    text-align: center;
}

.movie-item:first-of-type{
    padding-top: 20px
}

.movies-list p {
    max-width: 50%; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

img.img-fluid {
    max-width: 100%;
}

.video-iframe{
     width: 100%; 
     height: 100%; 
}

.small-div {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.cursor-hand{
    cursor: pointer;
}

.sin-borde {
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 767px) {
    img.img-fluid {
        max-width: 75%;
        height: auto;
    }

    .navbar-avatar {
        display: none;
    }
}