body {
      background-color: #121212;
      color: #e0e0e0;
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
    }

.navbar {
    background-color: #8e0000;

    color: #ffffff;
}

.color-footer{
    background-color: #8e0000 !important;
    color: #ffffff !important;
}

.navbar-toggler {
    border-width: 3px;
    border-color: black;
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: #ffffff !important;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  transition: color 0.5s ease, font-size 0.3s ease;
}

h1.changed {
  color: #ff4081;
  font-size: 40px;
}

.card{
    color: black;
}

.modal{
    color: black !important;
}

.logo{
    height: 55px;
    width: 55px;
}

.movie-link {
    color: #8e0000;
    text-decoration: none;
}

.movie-link:hover {
    color: #ffffff;
}

form .avatar{
    margin-bottom: 15px;
    height: 55px;
    width: 55px;
}

.navbar .container-avatar{
    height: 35px;
    width: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img{
    height: 100%;
}

.pagination{
    justify-content: center;
}

.movies-list{
    text-align: center;
}

.movie-item:first-of-type{
    padding-top: 20px
}

.movies-list p {
    max-width: 50%; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

img.img-fluid {
    max-width: 100%;
}

.video-iframe{
     width: 100%; 
     height: 100%; 
}

.small-div {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.cursor-hand{
    cursor: pointer;
}

.sin-borde {
  border: none;
  outline: none;
  background-color: transparent;
}

.pagination-container {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    margin-top: 20px;        
    margin-bottom: 20px;     
}

.pagination-text {
    margin-bottom: 10px; 
    font-size: 16px;     
    color: #fff;         
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 10px 15px;
    background-color: #c62828; 
    color: #fff;               
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
}

.pagination li.active a,
.pagination li.active span {
    background-color: #8e0000;
    cursor: default;
}

.pagination li a:hover,
.pagination li span:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

.pagination li.disabled a,
.pagination li.disabled span {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

.pagination .page-item:first-child a, 
.pagination .page-item:last-child a {
    background-color: #333;
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
}

.pagination .page-item:first-child a:hover,
.pagination .page-item:last-child a:hover {
    background-color: #555;
}

@media (max-width: 767px) {
    img.img-fluid {
        max-width: 75%;
        height: auto;
    }

    .navbar-avatar {
        display: none;
    }
}